<div class="container footer">
    <div class="row grid-divider">
        <div class="col-sm-4">
              <div class="col-padding">
                <h4>Hufiec ZHP Szczecin - Pogodno</h4>
                <a href="http://www.szczecinpogodno.zhp.pl" target="_blank"><img src="assets/images/yeoman.png"></a>
              </div>
        </div>
        <div class="col-sm-4">
              <div class="col-padding">
                <h4>Związek Harcerstwa Polskiego</h4>
                <a href="https://www.zhp.pl/" target="_blank"><img src="assets/images/yeoman.png"></a>
              </div>
        </div>
        <div class="col-sm-4">
              <div class="col-padding">
                <h4>Chorągiew Zachodniopomorska ZHP</h4>
                <a href="http://www.zachpom.zhp.pl/" target="_blank"><img src="assets/images/yeoman.png"></a>
              </div>
        </div>
    </div>
</div>