div.content img {
	width: auto;
    height: 150px;
}

div.footer h4 {
	text-align : center;
}

div.col-sm-4 img {
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

div.box {
	height: 200px;
	background-color: #e5f2e5;
	text-align: center;
}