 <div class="row grid-divider">
    <div class="col-md-4">
      <div class="thumbnail box">
        <div class="content">
          <h4>Chorągiew Zachodniopomorska ZHP</h4>
          <a href="http://www.zachpom.zhp.pl/" target="_blank"><img src="/assets/images/zachpom.png"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail box">
        <div class="content">
          <h4>Hufiec ZHP Szczecin - Pogodno</h4>
          <a href="http://www.szczecinpogodno.zhp.pl/" target="_blank"><img src="/assets/images/hufiec.jpg"></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail box">
        <div class="content">
          <h4>Związek Harcerstwa Polskiego</h4>
          <a href="https://zhp.pl/" target="_blank"><img src="/assets/images/zhp.png"></a>
        </div>
      </div>
    </div>
  </div>