<div>
	<div>
    	<jumbo-directive documentId="{{activeIssuuId}}"></jumbo-directive>
	</div>
<div class="jumbotron">
	<section ng-init="main.selectPage=0">
		<ul class="nav nav-tabs">
		  <li><a href ng-click="main.selectPage=0" init><h2>O Wydaniu</h2></a></li>
		  <li><a href ng-click="main.selectPage=1"><h2>Udostępnij</h2></a></li>
		  <li><a href ng-click="main.selectPage=2"><h2>Komentarze</h2></a></li>
		</ul>
	</section>
	
	<div class="jumbotron" ng-if="main.selectPage === 0">
	<div class="row">
	<!-- {{main.activeThing}} -->
		<div class="col-sm-4">
			<h4>Tytuł:</h4> 
			<p>{{main.activeThing.title}}</p>
		</div>
		<div class="col-sm-4">
			<h4>Data dodania:</h4> 
			<p>{{main.activeThing.created | date}}</p>
		</div>
		<div class="col-sm-4">
			<h4>Liczba stron:</h4> 
			<p>{{main.activeThing.pageCount}}</p>
		</div>
		<div class="col-sm-12">
			<h4>Okładka:</h4> 
			<p>{{main.activeThing.coverCuriosities}}</p>
		</div>
		<!-- <div class="col-md-12">
			<h4></h4> 
			<p></p>
		</div> -->
	</div>
	</div>


	<div ng-if="main.selectPage === 1">
		<div class="col-md-12">Facebook bar</div>
	</div>


<div ng-if="main.selectPage === 2">
	<div class="row">
		<form name="commentForm" ng-submit="commentForm.$valid && main.addReview(main.review)" novalidate>
			<div class="form-group col-md-4" ng-class="{ 'has-error': commentForm.pseudonim.$invalid && commentForm.pseudonim.$dirty }">
				<label>Wpisz swój pseudonim:</label>
				<input type = "text" class="form-control" placeholder = "Pseudonim (wymagane)" name = "dname" ng-model="main.review.pseudonim" required>
			</div>
			
			<div class="form-group col-md-4" ng-class="{ 'has-error': commentForm.mail.$invalid && commentForm.mail.$dirty }">
				<label>Wpisz adres e-mail</label>
				<input type = "email" class="form-control" placeholder = "E-Mail (wymagane)" name = "demail" ng-model="main.review.mail" required>
			</div>

			<div class="form-group col-md-4">
			  <label>Oceń dokument:</label>
			  <select class="form-control" ng-model="main.review.grade" required>
			    <option>1</option>
			    <option>2</option>
			    <option>3</option>
			    <option>4</option>
	    		<option>5</option>
			  </select>
			</div>
			
			<div class="form-group col-md-12" ng-class="{ 'has-error': commentForm.context.$invalid && commentForm.context.$dirty }">
				<textarea name = "comment" class="form-control col-md-4" rows="5" placeholder = "Tutaj wpisz tekst..."  ng-model="main.review.context" required></textarea>
			</div>

			<div class="form-group col-md-12">
				<input type="submit" class="btn btn-primary col-md-12" value="Dodaj komentarz">
			</div>
		</form>
	</div>
	
	<div class="row">
		<div ng-repeat="review in main.messages">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
				<strong>{{review.pseudonim}} - {{review.mail}}</strong> <span class="text-muted">Stars: {{review.grade}}</span>
				</div>
				<div class="panel-body">
				{{review.context}}
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

</div>
</div>