<div class="row">
    <div class="col-md-12 text-center">
            <uib-pagination boundary-links="true" total-items="mainCtrl.filteredItems.length" ng-model="mainCtrl.currentPage" ng-change="mainCtrl.changePagin()" class="pagination-lg" previous-text="<" next-text=">" first-text="<<" last-text=">>" items-per-page="mainCtrl.itemsPerPage">
            </uib-pagination>
    </div>
    <div class="col-md-4"
    ng-repeat="awesomeThing in mainCtrl.acmeDb | filter:query | orderBy : '-document.title' | queryFilter:this:'mainCtrl.filteredItems' | limitTo: mainCtrl.itemsPerPage : (mainCtrl.currentPage-1)*6 ">
        <a href="/#/pages/{{awesomeThing.document.coverID}}">
            <div class="thumbnail hovering"
            ng-class="{'active': mainCtrl.isActive(awesomeThing.document.coverID)}">
                <div class="caption">
                    <img class="col-sm-12" ng-src="/assets/images/cover/{{awesomeThing.document.coverID}}.jpg">
                    <h3 class="col-md-4">{{ awesomeThing.document.title }}</h3>
                    <p class="col-md-12 pageCount">Liczba stron: {{ awesomeThing.document.pageCount }}</p>
                    <p ng-show="awesomeThing.document.coverCuriosities" class="col-md-12">Okładka: "{{ awesomeThing.document.coverCuriosities }}"</p>
                    <p class="col-md-12 date">Data dodania: {{ awesomeThing.document.created | date }}</p>
                </div>
            </div>
        </a>
    </div>
</div>
