<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <acme-jumbo></acme-jumbo>

<!--   <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'" ng-click="main.toggleWindow(awesomeThing)">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.allDoc" ng-click="main.toggleWindow(awesomeThing)">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ awesomeThing.document.title }}</h3>
          <p>Liczba stron: {{ awesomeThing.document.pageCount }}</p>
          <p>ID: {{ awesomeThing.document.publicationId | limitTo : 10 }} ...</a></p>
        </div>
      </div>
    </div>
  </div>



  <div>
    <acme-footer></acme-footer>
  </div>
</div>
