<div class="container">
    <div class="row">
        <div>
            <pogo-navbar></pogo-navbar>
        </div>
        <div class="jumbotron jumbotron-admin">
            <div>
                <div class="button-moderate">
                    <a href="#/admin">Panel administratora</a>
                    <a href="#/admin/report">Zgłoszone komentarze</a>
                    <a href="#/admin/moderate">Moderacja komentarzy</a>
                    <a ng-click="repCtrl.logout()">Wyloguj</a>
                </div>
            </div>
            <h2 class="text-center">Weryfikacja zgłoszonych komentarzy</h2>

            <div class="moderate-wrapper">
                <div class="moderate-no-results" ng-if="!repCtrl.reportedComments.length">
                    <h2>Nie ma komentarzy do weryfikacji...</h2>
                </div>
                <div ng-repeat="review in repCtrl.reportedComments | orderBy: '-date'" class="moderate-relative">
                    <div class="col-lg-10 moderate-column">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>
                                    <img ng-src="{{repCtrl.gravatarUrl(review.mail)}}">
                                    <p class="pseudonim">{{review.pseudonim}}</p>
                                    <p class="email"><a ng-href="mailto:{{review.mail}}" target="_blank">{{review.mail}}</a></p>
                                </strong>
                                <span class="panel-come-frome"><a ng-href="#/pages/{{review.dbID+1}}">Tytuł: Vol {{review.dbID+1}}</a></span>
                                <span class="text-muted">
                                    <uib-rating ng-model="review.grade" max="5" readonly-input="true" state-on="'glyphicon glyphicon-star'" state-off="'glyphicon glyphicon-star-empty'" aria-labelledby="custom-icons-4" data-readonly="true"></uib-rating>
                                </span>
                            </div>
                            <div class="panel-body" ng-show="review.context">
                                <textarea ng-model="review.context">{{review.context}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="moderate-buttons-wrapper">
                        <a href="" class="btn btn-info"
                           ng-click="repCtrl.approvedComment(review)">Akceptuj i opublikuj</a>
                        <a href="" class="btn btn-danger"
                           ng-click="repCtrl.deleteComment(review)">Usuń</a>
                    </div>
                </div>
            </div>

        </div>
        <pogo-footer></pogo-footer>
    </div>
</div>
