<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <h4>Tytuł:</h4>
            <p>{{DescriptionCtrl.activeThing.title}}</p>
        </div>
        <div class="col-sm-4">
            <h4>Data dodania:</h4>
            <p>{{DescriptionCtrl.activeThing.created | date}}</p>
        </div>
        <div class="col-sm-4">
            <h4>Liczba stron:</h4>
            <p>{{DescriptionCtrl.activeThing.pageCount}}</p>
        </div>
        <div class="col-sm-12">
            <h4>Okładka:</h4>
            <p>{{DescriptionCtrl.activeThing.coverCuriosities}}</p>
        </div>
        <div class="col-md-12">
            <h4>Artykuły:</h4>
            <ul>
                <li ng-repeat="post in DescriptionCtrl.activeThing.posts | limitTo : DescriptionCtrl.limitToValue" ><p>{{post}}</p></li>
            </ul>
            <button class="btn col-md-12" ng-click="DescriptionCtrl.limitToValue=undefined" ng-if="DescriptionCtrl.limitToValue">Pokaż wszystkie artykuły</button>
        </div>
    </div>
</div>
