<div class="jumbotron">
    <div class="row form-row">
        <form name="commentForm" ng-submit="commentForm.$valid && ReviewCtrl.addReview(ReviewCtrl.review)" novalidate>
            <div class="form-group col-md-4">
                <label>Wpisz swój pseudonim:</label>
                <input type = "text" class="form-control" placeholder = "Pseudonim (wymagane)" name = "pseudonim" ng-model="ReviewCtrl.review.pseudonim" required>
                <h6 class="text-center" ng-show="commentForm.pseudonim.$invalid && !commentForm.pseudonim.$pristine" class="help-block">Popraw swój pseudonim!</h6>
            </div>

            <div class="form-group col-md-4">
                <label>Wpisz adres e-mail:</label>
                <input type = "email" class="form-control" placeholder = "E-Mail (wymagane)" name = "email" ng-model="ReviewCtrl.review.mail" required>
                <h6 class="text-center" ng-show="commentForm.email.$invalid && !commentForm.email.$pristine" class="help-block">Popraw adres e-mail</h6>
            </div>

            <div class="form-group col-md-4">
            <label>Oceń ten numer:</label>
                <div class="addreview"><uib-rating ng-model="ReviewCtrl.review.grade" max="5" state-on="'glyphicon glyphicon-star'" state-off="'glyphicon glyphicon-star-empty'" aria-labelledby="custom-icons-4"></uib-rating></div>
                <h6 class="text-center" ng-show="!ReviewCtrl.review.grade" class="help-block">Ocena jest wymagana</h6>

            </div>

            <div class="form-group col-md-12">
                <textarea name = "context" class="form-control col-md-4" rows="3" placeholder = "Tutaj wpisz tekst... (opcjonalnie)"  ng-model="ReviewCtrl.review.context"></textarea>
            </div>

            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-primary col-md-12" value="Dodaj komentarz" ng-disabled="!(ReviewCtrl.review.grade && !commentForm.$invalid)" ng-click="ReviewCtrl.resetForm(commentForm)">
            </div>
        </form>
        <div class="moderate-feedback" ng-if="ReviewCtrl.approvedComment">
          <h2>Dziękujemy za pozostawiony komentarz!</h2>
          <h3>Administrator udostępni komentarz po weryfikacji.</h3>
        </div>
    </div>
    <div class="row">
      <hr class="divider">
    </div>

    <div class="row">
        <div class="moderate-no-results" ng-if="!ReviewCtrl.messages.length">
            <h3>Komentarzy brak...</h3>
        </div>
        <div ng-repeat="review in ReviewCtrl.messages | orderBy: '-date'">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-row">
                    <strong>
                    <img ng-src="{{ReviewCtrl.gravatarUrl(review.mail)}}">
                    <p class="pseudonim">{{review.pseudonim}}</p>
                    <p class="email"><a ng-href="mailto:{{review.mail}}" target="_blank">{{review.mail}}</a></p>
                    </strong>
                    <span class="text-muted">
                    <uib-rating ng-model="review.grade" max="5" readonly-input="true" state-on="'glyphicon glyphicon-star'" state-off="'glyphicon glyphicon-star-empty'" aria-labelledby="custom-icons-4" data-readonly="true"></uib-rating>
                    <button ng-if="ReviewCtrl.showLoginAdmin">X</button>
                    </span>
                    <div class="moderate-delete-btn" ng-if="ReviewCtrl.adminStatus.connected">
                        <a href="" class="btn btn-danger"
                           ng-click="ReviewCtrl.deleteReview(review)">Usuń</a>
                    </div>
                </div>
                <div class="panel-body" ng-show="review.context">
                {{review.context}}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
