.glyphicon {
    font-size: 35px;
    color: #337AB7;
}

span.text-muted i.glyphicon {
    font-size: 15px;
    color: #337AB7;
    float:right;
}

div.addreview {
  float: left;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

